# Blacklist files/folders in the 'lyb_pk' directory
/*

# Whitelist some individual files and directories
!.gitignore

# Whitelist the code structure for the mocks
!data/
data/*
!data/mocks/
data/mocks/*
!data/mocks/download_data.txt

# Whitelist the code structure for observations
!data/obs/
data/obs/*
!data/obs/XQ-100_DLA_catalogue.txt
!data/obs/XQ-100_catalogue.txt
!data/obs/XQ-100_catalogue_seeing.txt
!data/obs/download_data.txt

# Whitelist the pipeline code
!pipeline/
pipeline/*
!pipeline/main.py
!pipeline/options.py
!pipeline/inis.py
!pipeline/boot_indo.py
!pipeline/QuasarSpectrum.py

# Whitelist output folder
!output/
output/*
!output/outputs_here.txt
!output/pk_obs_corrNR_offset_DLATrue_metalTrue_res0.csv
!output/mf_obs_corrNR_offset.csv


# Whitelist figure folder
!plot/
plot/*
!plot/plot_meanflux.py
!plot/plot_pk.py
!plot/figures/
plot/figures/*
!plot/figures/figures_here.txt





